

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: box-sizing;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
}

[role=navigation] {
	background: #333333;
	margin: 0;
	padding: 0;
	color: #fafafa;
	line-height: 1.6rem;
}

[role=navigation] h1 {
	display: inline-table;
	margin: 0;
	padding: 5px;
	font-size: 1.3rem;
}

[role=content] label {
	display: block;
}

[role=content] input {
	width: 100%;
}

[role=content] button {
	padding: 10px 15px;
}


@media only screen and (min-width: 800px) {
	
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
}

