

.top-bar .name {
  color: #ffffff;
  font-size: 25px;
  line-height: 2.8125rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}


.container {
  position: relative;
  width: 100%;
}

.container .description {
  font-size: 1.2rem;
}


@media only screen and (min-width: 800px) {
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
  
  .container .description {
    margin-top: 100px;
  }
}

